* {
    padding: 0;
    margin: 0;
}

.xzmf {
    perspective: 100%;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 1;
}

.xzmf .mf_rubik_cube {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0;
    text-align: center;
    transform-style: preserve-3d;
    animation: lovemf 15s linear infinite;
}

@keyframes lovemf {
    0% {
        transform: rotateX(0);
    }

    25% {
        transform: rotate3d(1, 1, 0, 230deg);
    }

    50% {
        transform: rotate3d(-1, 1, 0, 220deg);
    }

    75% {
        transform: rotate3d(1, -1, 0, 200deg);
    }

    100% {
        transform: rotateX(180deg);
    }
}

.xzmf .mf_rubik_cube:hover {
    animation-play-state: paused;
}

.xzmf .mf_rubik_cube .handsome_mf {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 100px;
    color: #000;
    text-decoration: none;
    font-size: 1em;
    transition: font-size .5s;
    overflow: hidden;
    font-family: "楷体";
    text-shadow: 1px 1px 3px rgb(0, 0, 0.2);
}

.xzmf .mf_rubik_cube .handsome_mf:hover {
    font-size: 1em;
}

.xzmf .mf_rubik_cube .handsome_mf:nth-child(1) {
    transform: rotateY(0) translateZ(50px);
    background: linear-gradient(70deg, blue, pink);
}

.xzmf .mf_rubik_cube .handsome_mf:nth-child(2) {
    transform: rotateY(90deg) translateZ(50px);
    background: linear-gradient(70deg, pink,blue );
}

.xzmf .mf_rubik_cube .handsome_mf:nth-child(3) {
    transform: rotateY(180deg) translateZ(50px);
    background: linear-gradient(70deg, blue, pink);
}

.xzmf .mf_rubik_cube .handsome_mf:nth-child(4) {
    transform: rotateY(270deg) translateZ(50px);
    background: linear-gradient(70deg, pink,blue);
}

.xzmf .mf_rubik_cube .handsome_mf:nth-child(5) {
    transform: rotateX(90deg) translateZ(50px);
    background: linear-gradient(70deg, blue, pink);
}

.xzmf .mf_rubik_cube .handsome_mf:nth-child(6) {
    transform: rotateX(-90deg) translateZ(50px);
    background: linear-gradient(70deg, pink,blue);
}

.xzmf .mf_rubik_cube .handsome_mf img {
    width: 100%;
    height: 100%;
}
